<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= president.name %></title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>
<body>
  <div class="container">
    <h1><%= president.name %> <small>(<%= president.party %>)</small></h1>
    <p><img style='max-width: 100%' src="<%= president.imgUrl %>"/></p>
    <form action='/presidents/<%= president.order %>' method="POST">
    <h2>Enter New President (Democracy be Damned)</h2>
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" name="name" value="<%= president.name %>">
      <small id="emailHelp" class="form-text text-muted">Be sure to include middle names or initials as necessary (e.g. John <em>Quincy</em> Adams)</small>
    </div>
    <div class="form-group">
      <label for="order">Order</label>
      <input type="number" class="form-control"
      name="order" id="order" placeholder="Order" value="<%= president.order %>">
    </div>

    <div class="form-group">
      <label for="party">Party</label>
      <select class="form-control" id="party" name='party'>
        <% ['None', 'Federalist', 'Democrat-Republican', 'Democrat', 'Republican', 'Whig', 'Independent'].forEach((party) => { %>
          <option 
          <% if(party === president.party){ %> 
          selected
          <% } %>
          ><%= party %></option>
        <% }) %>
      </select>
      </div>
    <div class="form-group">
      <label for="imgUrl">Image Url</label>
      <input type="text" class="form-control" id="imgUrl" name="imgUrl" value="<%= president.imgUrl %>">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <form action='/presidents/<%= president.order %>/delete' method='post'>
    <button type='submit' class='btn btn-danger'>Delete</button>
  </form>
  </div>
  </div>
</body>
</html>